@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
}

body,
html {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: rgb(255, 255, 255);
}

.Home {
  position: relative;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #50c5ee 60%,
    rgba(0, 212, 255, 0.5) 100%
  );
  min-height: calc(100vh - 60px);
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  color: black;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.Home > h2 {
  display: flex;
  justify-content: space-around;
  color: rgb(0, 0, 0);
}

.Home > div {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.Home__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 350px) {
  .Home__container {
    justify-content: unset;
  }
}

.PaletaLista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 50px;
}

@media (max-width: 1220px) {
  .PaletaLista {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .PaletaLista {
    grid-template-columns: 1fr;
  }
}

.PaletaCardItem,
.PaletaListaItem {
  font-family: "Exo";
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px;
  width: 315px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.PaletaCardItem {
  margin: 20px 0;
  height: 150px;
  width: auto;
}

@media (max-width: 400px) {
  .PaletaCardItem,
  .PaletaListaItem {
    width: 210px;
    height: 180px;
  }
}

.PaletaCardItem > div,
.PaletaListaItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.PaletaCardItem__sabor,
.PaletaListaItem__sabor {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
}

.PaletaCardItem__descricao,
.PaletaListaItem__descricao {
  font-size: 0.85em;
}

.PaletaCardItem__preco,
.PaletaListaItem__preco {
  color: darkviolet;
}

.PaletaListaItem__foto {
  height: 150px;
  margin-right: -60px;
}

.Header {
  width: 100%;
  height: 12vh;
  align-items: center;
}

.Header > .Header__container {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}

.Header > .Header__container > .titulo {
  display: flex;
  align-items: center;
  position: relative;
}

.Header > .Header__container > .titulo > img {
  position: absolute;
  transition: 0.3s ease;
  cursor: pointer;
}

.Header > .Header__container > .titulo > img:hover {
  transform: scale(1.1);
}

.Header > .Header__container > .titulo > h1 {
  background-color: #ffffff4d;
  margin-left: 35px;
  border-radius: 6px;
  font-size: 28px;
  padding-right: 5vw;
  padding-left: 20px;
}

.NotPaleta {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18px;
}

.PesquisarPaleta {
  display: flex;
  flex-direction: column;
  width: calc(100% - 10px);
  max-width: 320px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.PesquisarPaleta > h2 {
  text-align: center;
}

.PesquisarPaleta div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.PesquisarPaleta input {
  outline: 0;
  width: 250px;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  height: 28px;
  padding-left: 5px;
  padding-right: 5px;
}

.PesquisarPaleta button {
  width: 28px;
  height: 28px;
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: #fff;
  transition: 0.5s ease;
  background-color: rgba(255, 255, 255, 0.8);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.PesquisarPaleta button img {
  display: flex;
  margin: 0 auto;
}

.PesquisarPaleta button:hover {
  background-color: #50eeac;
}

.PaletaPesquisada {
  margin-top: 16px;
  margin-bottom: 16px;
}

.PaletaLista {
  margin-top: 16px;
}

.button {
  display: flex;
  gap: 4px;
}

.btn {
  outline: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  border-radius: 6px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.5s ease;
}

.btn img {
  width: 16px;
}

.btnEdit:hover {
  background-color: #50eeac;
}

.btnDel:hover {
  background-color: #ff7a7a;
}

.imgHeader {
  display: flex;
  gap: 8px;
}

.imgHeader img {
  cursor: pointer;
  transition: 0.3s ease;
}

.imgHeader img:hover {
  transform: scale(1.2);
}

#absolute {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9;
}

#absolute .absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: black;
  opacity: 0.7;
}

#absolute .absolute2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 11;
}

#absolute .absolute2 div {
  position: relative;
  width: 50vh;
  min-width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #50c5ee 60%,
    rgba(0, 212, 255, 0.5) 100%
  );
  border-radius: 6px;
}

#absolute .absolute2 div img {
  cursor: pointer;
  width: 24px;
  position: absolute;
  top: -32px;
}

#absolute .absolute2 div h2 {
  margin-top: 6px;
}

#absolute .absolute2 div input {
  margin-top: 6px;
  width: 90%;
  padding: 6px;
  outline: none;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}

#absolute .absolute2 div button {
  width: 100px;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #fff;
  background-color: black;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s ease;
}

#absolute .absolute2 div button:hover {
  transform: scale(1.05);
}
